/**
 * All of the CSS for the public-facing functionality.
 */

$primary-dark: #316333;
$primary-light: #98B199;
$primary-lighter: #D6E0D6;
$secondary-dark: #45658c;
$secondary-light: #A2B2C6;
$secondary-lighter: #DAE0E8;
$tertiary-dark: #644D31;
$tertiary-light: #B2A698;
$tertiary-lighter: #E0DBD6;
$gray-dark: #222;
$gray-medium: #666;
$gray-light: #DDD;
$white: #FFF;
$col-grid-max-width: 719px;

/*  plugin : wp-pagenavi
/* ------------------------------------ */
.wp-pagenavi {
  padding-top: 8px;
}

.wp-pagenavi a, .wp-pagenavi span {
  text-decoration: none;
  border: 1px solid $tertiary-dark;
  padding: 4px 8px !important;
  margin: 0 4px  !important;
}

.wp-pagenavi a:hover {
  background-color: $tertiary-lighter;
}

.wp-pagenavi span.current {
  border-color: none;
  background-color: $tertiary-dark;
  color: $white;
  font-weight: 400;
}

.wp-pagenavi span.extend {
  border-color: none;
}

/*  PPV archive list
/* ------------------------------------ */
.ppv-archive-list {
  margin: 4px 6px 6px 6px;
  line-height: 1.8em;
}

.ppv-archive-list a:hover {
  font-weight: 400;
}

.ppv-archive-list,
.ppv-archive-link {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.ppv-archive-list .ppv-archive-icon {
  float: left;
  margin-right: 10px;
  height: 30px;
}

.ppv-archive-list .ppv-archive-icon img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  filter: opacity(40%);
}

.ppv-list-count {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  background-color: $primary-lighter;
  width: 1.8em;
  height: 1.8em;
  /*  line-height: 1.8em; */
  border-radius: 50%;
}

/*  PPV pagination
/* ------------------------------------ */
.ppv-pagination {
  clear: both;
  display: block;
  padding-top: 16px;
  padding-bottom: 3px;
}

.ppv-pagination a.page-numbers,
.ppv-pagination a.next,
.ppv-pagination a.prev,
.ppv-pagination span.page-numbers,
.ppv-pagination span.next,
.ppv-pagination span.prev,
.ppv-pagination span.current {
  border: none;
  border-radius: 2px;
  box-shadow: none;
  display:inline;
  padding: 4px 8px;
  margin: 0px 4px;
  border: 2px solid $tertiary-dark;
  color: $secondary-dark;
  cursor: pointer;
  text-decoration: none;
}

.ppv-pagination span.dots {
  border: none;
  box-shadow: none;
  padding: 4px 6px;
  color: $secondary-dark;
  font-weight: bold;
  text-decoration: none;
}

.ppv-pagination span.current {
  background-color: $tertiary-dark;
  color: $white;
}

.ppv-pagination a.next,
.ppv-pagination a.prev,
.ppv-pagination span.next,
.ppv-pagination span.prev {
  background: transparent;
  color: $secondary-dark;
}

.ppv-pagination a.page-numbers:hover,
.ppv-pagination span.page-numbers:hover {
  background-color: $tertiary-lighter;
  border: 2px solid $tertiary-light;
}

.ppv-pagination a.next:hover,
.ppv-pagination a.prev:hover,
.ppv-pagination span.next,
.ppv-pagination span.prev {
  background-color: $tertiary-lighter;
  border: 2px solid $tertiary-light;
}

.ppv-pagination span.dots:hover {
  border: none;
  background: transparent;
  cursor: default;
}

.ppv-pagination span.current:hover {
  background-color: $tertiary-dark;
  cursor: default;
}
.ppv-pagination a.page-numbers {
  display: inline;
}

/*  Media Object
/* ------------------------------------ */
.ppv-mediaobj {
  margin: 0 4px 4px 4px;
}

.ppv-mediaobj,
.ppv-media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.ppv-mediaobj .ppv-media__img {
  float: left;
  margin-right: 10px;
}

.ppv-mediaobj .ppv-media__img img {
  display: block;
}

.ppv-mediaobj .imgExt {
  float: right;
  margin-left: 10px;
}

/*  Listing without feature images
/* ------------------------------------ */
.ppv-list__body {
  margin: 0 4px 4px 4px;
}

/*  Posts listed alphabetically
/* ------------------------------------ */
.ppv-letter-group {
  width: 100%;
}

.ppv-letter-cell {
  width: 5%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: $primary-dark;
  color: $white;
  float: left;
}

.ppv-row-cells {
  width: 90%;
  float: right;
  margin-right: 10px;
}

.ppv-clear::after {
  content: " ";
  clear: both;
  display: table;
}

/*  Posts listings
/* ------------------------------------ */
.ppv-bydate, .ppv-byalpha, .ppv-bycategory {
  clear: both;
}

/*  Posts listed by categories
/* ------------------------------------ */
.ppv-category-header {
  font-size: 28px;
  letter-spacing: -0.5px;
  margin: 10px 0 4px 0;
}

/*  Posts listed alphabetically
/* ------------------------------------ */
.ppv-byalpha > .ppv-letter-section {
  padding: 10px 0 4px 0;
}
.ppv-byalpha > .ppv-letter-section > .ppv-letter-heading { 
  border-bottom: 1px solid $primary-dark;
  margin-bottom: 10px;
}

.ppv-letter {
  width: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  margin: 2px 0 0 0;
  background: $primary-dark;
  color: $white;
}

/*  Post card listings
/* ------------------------------------ */
.ppv-post-grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.ppv-post-grid > .ppv-post-card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 120px;
}
.ppv-post-grid > .ppv-post-card > .ppv-post-link img {
  margin: 0;
  max-width: 100%;
}
.ppv-post-grid > .ppv-post-card > .ppv-post-link img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.ppv-post-grid > .ppv-post-card > .ppv-post-title {
  padding: 8px 2px 4px 2px;
}
.ppv-post-grid > .ppv-post-card {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  margin: 0;
  text-align: center;
}

/*  Tag listings
/* ------------------------------------ */
#ppvTagMap .holdinner {
  clear: both;
}

#ppvTagMap .tagindex { 
  page-break-inside: avoid;
  break-inside: avoid;
  padding: 6px 0 10px 0; 
}

#ppvTagMap .tagindex-heading { 
  border-bottom: 1px solid $primary-dark;
}

#ppvTagMap .tagindex-letter {
  width: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  margin: 2px 0 0 0;
  background: $primary-dark;
  color: $white;
}

#ppvTagMap .tagindex ul { 
  list-style: none; 
  padding: 1px 0; 
  margin: 0; 
}

#ppvTagMap .tagindex ul li { 
  list-style: none; 
  padding: 2px 0; 
  margin: 0; 
}

#ppvTagMap .ppvtagmap_count {
  padding-left: 4px;
}

#ppvTagMap .holdleft { 
  width: 190px; 
  display: inline; 
  margin: 0 20px 0 0; 
  float: left;
}

#ppvTagMap .noMargin {
margin: 0 0 0 0;
}

/* responsive */
#ppvTagMap .responsive .tagindex {
  display: inline-block;
  width: 100% !important;
  float: none;
}
#ppvTagMap .responsive .tagindex > * {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

#ppvTagMap .tagindex ul {
  columns: 4 170px;
}

/*  Responsive columns grid
/* ------------------------------------ */
.ppv-col-grid {
  margin-right: 3.2%;
  float: left;
  display: inline;
  position: relative;
}

.ppv-col-last {
  clear: right;
  margin-right: 0 !important;
}

.ppv-one-full {
  margin-right: 0;
  width: 100%;
  overflow: hidden;
}

.ppv-one-half {
  width: 48.4%;
}

.ppv-one-third {
  width: 31.2%;
}

.ppv-two-third {
  width: 65.6%;
}

.ppv-one-fourth {
  width: 22.6%;
}

.ppv-three-fourth {
  width: 74.2%;
}

.ppv-one-fifth {
  width: 17.4%;
}

.ppv-two-fifth {
  width: 38.1%;
}

.ppv-three-fifth {
  width: 58.7%;
}

.ppv-four-fifth {
  width: 79.4%;
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Mid Res) : 719px > 0px (480px & 320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: $col-grid-max-width) {

  .ppv-col-grid {
    width: 100%;
    margin: 0 0 10px;
  }

}

/*  Print
/* ------------------------------------ */
@media print {
  .ppv-letter-cell { 
    background: $white; 
    border: 1px solid #000;
    color: #000;
  }
}
