/**
 * All of the CSS for the public-facing functionality.
 */

/*  plugin : wp-pagenavi
/* ------------------------------------ */
.wp-pagenavi span {
  color: #666;
  font-size: 16px;
  padding: 7px 8px!important;
  display: inline;
  margin: 0 2px!important;
}

/*  PPV pagination
/* ------------------------------------ */
.ppv-pagination {
  padding-top: 10px;
}    
.ppv-pagination .page-numbers {
  padding: 4px 8px;
  margin: 0px 4px;
  border: none;
  color: #45658c;  
}
.ppv-pagination .current {
  border: 1px solid #316333;
  color: #316333;
}
.ppv-pagination .prev, .ppv-pagination .next {
  border: none;
  color: #45658c;
}

/*  Media Object
/* ------------------------------------ */
.ppv-mediaobj {
  margin: 0 4px 4px 4px;
}
.ppv-mediaobj, .ppv-media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.ppv-mediaobj .ppv-media__img {
  float: left;
  margin-right: 10px;
}
.ppv-mediaobj .ppv-media__img img {
  display: block;
}
.ppv-mediaobj .imgExt {
  float: right;
  margin-left: 10px;
}

/*  Listing without feature images
/* ------------------------------------ */
.ppv-list__body {
  margin: 0 4px 4px 4px;
}

/*  Posts listed by categories
/* ------------------------------------ */
.ppv-category-header {
  font-size: 28px;
  letter-spacing: -0.5px;
  margin: 10px 0 4px 0;
}

